body, html {
     margin: 0 auto;
     padding: 0;
     background-color: black;
     color: white;
     text-align: center;
}
 .header1 {
     font-size: 4em;
}
 .first {
     font-size: 2em;
}
 #userinput {
     width: 300px;
     padding: 10px;
}
 #send {
     background-color: white;
     padding: 10px ;
     border: none;
     margin-left: 10px ;
     font-weight: bold;
}
 .done {
     text-decoration: line-through;
}
 .container {
     max-width: 30em;
     margin: 0 auto;
}
 ul {
     margin: 20px auto;
     padding: 5px;
     text-align: left;
     list-style-type: none;
     background-color: #0a0a0a;
     border: 2px solid white;
     max-height: 60vh;
     max-width: 100%;
     overflow-y: auto;
}
 ul > li {
     border-bottom: 2px solid white;
     padding-top: 5px;
     padding-bottom: 5px;
}
 ul > li:last-child {
     border-bottom: none;
}
 li {
     display: flex;
     align-items: center;
     justify-content: space-between;
}
 #emptyList {
     font-size: 1.2rem;
     text-align: center;
}
 
